{% extends 'main/base.html' %}

{% block body %}
<div style="max-width:500px;margin:auto;padding:20px;">
    <h2>Upload Materials (ZIP)</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <label>Select Subject</label>
        <select name="subject" required>
            {% for s in subjects %}
                <option value="{{ s.id }}">{{ s.name }}</option>
            {% endfor %}
        </select>

        <br><br>

        <label>Upload ZIP File</label>
        <input type="file" name="zip_file" accept=".zip" required>

        <br><br>

        <button type="submit">Upload</button>
    </form>
</div>
{% endblock %}